html{
	box-sizing: border-box;
}
body{
	background-color: ghostwhite;
	font-family: 'Exo 2', sans-serif; ;
}
h1{
	font-size: 3em;
	font-family: 'Titillium Web', sans-serif;
	margin-left: 1.2em;
	margin-bottom: 1.5em;
	letter-spacing: 0.09em;
}
h1 i{
	font-size: 0.8em;
}


#container{
	width: 75%;
	height: auto;
	margin: 25px auto;
	background-color: #ededed;
	border-radius: 7px;
	padding-bottom: 20px;
	box-shadow: 1px 1px 1.3em -1.1em black;
}

ul{
	list-style-type: none;
	padding: 2em 1.4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
ul li{
	margin-top: 9px;
	/*margin-left: 0px;*/
	/*margin-right: 40px;*/
}

.items{
	width: 100%;
	height: 6em;
	background-color: whitesmoke;
	border-radius: 3px;
	padding: 1em 0em;
	font-family: 'Roboto', sans-serif;
	box-shadow: 3px 3px 1.2em -0.6em black;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.itemname{
	width: 40%;
	height: 30px;
	
	/*text-align: center;*/
	letter-spacing: 0.3px;
	font-size: 1.2em;
	font-weight: 100;
	height: 100%;
	/*padding-left: 10px;*/

}

.imgdiv{
	width: 10%;
	height: 100%;
}

.imgdiv img{
	width: 100%;
	height: 100%;
}


.quantitydiv, .removediv, .starreddiv{
	width: calc(30%/2);
	height: 30px;
	/*background-color: #a36a39;*/
	margin-left: 5px;
	text-align: center;
	/*padding-top: 0.8em;*/
}

.removediv, .starreddiv{
	width: calc(30%/4);
}

.starreddiv{
	margin-right: 5px;
}

.minus, .plus{
	text-align: center;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	border: none;
	outline: none;
	opacity: 0.8;
	padding: 0;
	transition: background-color 0.2s;
}
.minus{
	margin-right: 4px;
}
.plus{
	margin-left: 4px;
}
.nos{
	font-family: sans-serif;
	font-size: 1.4em;
	margin-top: 4px;
	margin-left: 3px;
	margin-right: 3px;
}

.remove, .starred {
	text-align: center;
	width: 3em;
	height: 3em;
	border-radius: 5px;
	border: none;
	outline: none;
	opacity: 0.8;
	transition: background-color 0.2s;
}

.plus:hover, .minus:hover, .remove:hover, .starred:hover{
	cursor: pointer;
	background-color: lightgrey ;
}

i{
	font-size: 1.2em;
}

/*	@media (max-width: 600px){

}*/

#addnewitem{
	width: 60px;
	height: 75px;
	text-align: center;
	background-color: steelblue;
	border-radius: 100%;
	margin: 10px auto;
}

#addnewitem button{
	background: none;
	text-align: center;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	border-radius: 100%;
	box-shadow: 6px 6px 1.2em -0.2em grey;
}
#addnewitem button:hover{
	cursor: pointer;
}
#addnewitem i{
	font-size: 2.2em;
}

#init{
	box-sizing: border-box;
	/*background-color: whitesmoke;*/
	color: darkslategrey;
	font-style: italic;
	letter-spacing: 0.7px;
	text-align: center;
	width: 100%;
	height: 130px;
	padding-top: 50px;
	/*border: 1px solid black;*/

}


i{
	pointer-events: none;
}