html{
			box-sizing: border-box;
		}
		body{
			background-color: lightgrey;
			font-family: 'Exo 2', sans-serif; ;
		}
		#container{
			width: 90%;
			height: 800px;
			margin: 25px auto;
			background-color: ghostwhite;
			border-radius: 10px;
			/*display: flex;
			flex-direction: column;
			justify-content: stretch;*/
		}

		ul{
			list-style-type: none;
			padding: 2em 1.7em;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		ul li{
			margin-top: 20px;
			/*margin-left: 0px;*/
			/*margin-right: 40px;*/
		}

		.items{
			width: 100%;
			height: 5em;
			background-color: rgba(255, 187, 135,0.7);
			border-radius: 10px;
			padding: 1em 0em;

			/*border: 1px solid black;*/

			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		.itemname{
			width: 50%;
			height: 30px;
			/*background-color: #a36a39;*/
			margin-left: 5px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.4em;


		}

		.quantitydiv, .removediv, .starreddiv{
			width: calc(50%/3);
			height: 30px;
			/*background-color: #a36a39;*/
			margin-left: 5px;
			text-align: center;
			/*padding-top: 0.8em;*/
		}

		.starreddiv{
			margin-right: 5px;
		}

		.minus, .plus{
			text-align: center;
			width: 3em;
			height: 3em;
			border-radius: 50%;
			border: none;
			outline: none;
			opacity: 0.8;
			padding: 0;
			background-color: ;
		}
		.minus{
			margin-right: 4px;
		}
		.plus{
			margin-left: 4px;
		}
		.nos{
			font-size: 1.2em;
			margin-top: 4px;
		}

		.remove, .starred {
			text-align: center;
			width: 3em;
			height: 3em;
			border-radius: 5px;
			border: none;
			outline: none;
			opacity: 0.8;
		}

		.plus:hover, .minus:hover, .remove:hover, .starred:hover{
			cursor: pointer;
		}

		i{
			font-size: 1.2em;
		}

	/*	@media (max-width: 600px){

		}*/
		
		#addnewitem{
			width: 60px;
			height: 75px;
			text-align: center;
			background-color: steelblue;
			border-radius: 50%;
		}
		#addnewitem button{
			background: none;
			text-align: center;
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			border-radius: 50%;
		}
		#addnewitem > button: hover{
			cursor: pointer;
		}
		#addnewitem i{
			font-size: 2em;
		}

		i{
			pointer-events: none;
		}